#notecode-entry {
    height: 100%;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 18pt;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

#notecode-submit {
    border: none;
    color: var(--bg);
    background-color: #00F587;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 18pt;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: background-color 0.25s, color 0.25s;
}

#notecode-submit:hover {
    color: white;
    background-color: #034732;
}

#heading-div {
    margin-bottom: 128px;
}